* {
    box-sizing: border-box;
  }
  
  body {
      background-color: black;
  }

  .container {
      background-color: white;
      margin-top: 100px;
      width: 800px;
      height: 550px;
  }

  .mid {
      background-color: rgb(240, 237, 232);
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 10px;
      width: 100%;
  }

  .btn-primary{
      background-color: red;

  }
#textbox{
    width: 700px;

}


  @media screen and (max-width: 760px) {   
  .wrapper {   
    width: 100%;
  }
  #textbox {
    width: 100%; 
}
    .container{
        height: 650px;
    }

  }

   @media screen and (max-width: 320px) {   
    .wrapper {
        width: 100%;
    }
  
 #textbox {
        width: 100%;
    
  } 
  .container{
    height: 650px;
    }
} 